@charset "UTF-8";

* {
    font-family: sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    grid-template-areas: "header" "nav" "main"  "footer";
}

header {
    background: #87ceeb;
    text-align: center;
    padding: 20px;
    grid-area: header;
}

nav {
    background: lightgray;
    padding: 15px;
    text-align: center;
    grid-area: nav;
}

main {
    background: rgb(20, 151, 233);
    text-align: center;
    padding: 20px;
    grid-area: main;
}

footer {
    grid-area: footer;
    background: lightgray;
    text-align: center;
    padding: 15px;
}

ul {
    list-style: square;
}

a:hover{
    font-size: 2em;
}

a:visited{
    color: darkgoldenrod;
}